<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario CSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario"></div>
        <form class="formulario">
            <div class="texto-formulario">
                <h2>Bienvenido</h2>
                <p>Clima</p>
            </div>
            <div class="input" style="margin-block:20px">
                <label>Selecciona la Ciudad</label>
                <select name="" id="ciudad">
                    <option disabled selected value="">Selecciona la ciudad</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Chile">Chile</option>
                    <option value="Italia">Italia</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Espana">España</option>
                    <option value="Mexico">México</option>
                    <option value="Peru">Perú</option>
                </select>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-warning" id="consultar" style="margin-left:20%;" onclick="consultarClima()">Buscar</button>
            </div>
        </form>
    </div>

    <div id="resultado-clima"></div>

    <script>
        function consultarClima() {
            const ciudad = document.getElementById('ciudad').value;
            const apiKey = 'af5128b58a59474d52d5659588188a42';

            //const url = 'http://api.openweathermap.org/data/2.5/weather?q=' + ciudad + '&appid=' + apiKey;
            const url = "http://api.openweathermap.org/data/2.5/weather?q=Argentina&appid=af5128b58a59474d52d5659588188a42";
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    // Procesar los datos de la respuesta
                    const temperatura = data.main.temp;
                    const descripcion = data.weather[0].description;

                    // Mostrar el resultado en la página
                    const resultadoClima = document.getElementById('resultado-clima');
                    resultadoClima.innerHTML = 'Temperatura: ${temperatura}°C<br>Descripción: ${descripcion}';
                    alert('correcto');
                })
                .catch(error => {
                    console.error('Error al obtener los datos del clima', error);
                    alert('incorrecto');
                });
        }

            //function consultarClima() {
            //    const ciudad = document.getElementById('ciudad').value;
            //    const apiKey = 'af5128b58a59474d52d5659588188a42';
            //    const url = `http://api.openweathermap.org/data/2.5/weather?q=${ciudad}&appid=${apiKey}`;

            //    const request = new XMLHttpRequest();
            //    request.open('GET', url, true);

            //    // Establecer tiempo límite en milisegundos (ejemplo: 10 segundos)
            //    const tiempoLimite = 50000;

            //    // Establecer una función para cancelar la solicitud si se excede el tiempo límite
            //    const cancelarSolicitud = function () {
            //        request.abort();
            //        console.error('Tiempo de respuesta excedido');
            //        alert('La solicitud ha excedido el tiempo límite');
            //    };

            //    // Establecer el tiempo límite utilizando setTimeout
            //    const tiempoLimiteID = setTimeout(cancelarSolicitud, tiempoLimite);

            //    request.onload = function () {
            //        // Limpiar el tiempo límite si la respuesta se recibe antes del tiempo límite
            //        clearTimeout(tiempoLimiteID);

            //        if (request.status >= 200 && request.status < 400) {
            //            const data = JSON.parse(request.responseText);
            //            const temperatura = data.main.temp;
            //            const descripcion = data.weather[0].description;

            //            const resultadoClima = document.getElementById('resultado-clima');
            //            resultadoClima.innerHTML = `Temperatura: ${temperatura}°C<br>Descripción: ${descripcion}`;
            //            alert('Correcto');
            //        } else {
            //            console.error('Error en la solicitud. Código de respuesta:', request.status);
            //            alert('Ha ocurrido un error al obtener los datos del clima');
            //        }
            //    };

            //    request.onerror = function () {
            //        clearTimeout(tiempoLimiteID);
            //        console.error('Error al realizar la solicitud');
            //        alert('Ha ocurrido un error al obtener los datos del clima');
            //    };

            //    request.send();
            //}




            //function consultarClima() {
            //    const ciudad = document.getElementById('ciudad').value;
            //    const apiKey = 'af5128b58a59474d52d5659588188a42';

            //    // Construir la URL con la ciudad y la clave de API
            //    const url = `https://api.openweathermap.org/data/2.5/weather?q=${ciudad}&appid=${apiKey}`;

            //    fetch(url)
            //        .then(response => response.json())
            //        .then(data => {
            //            // Procesar los datos de la respuesta
            //            const temperatura = data.main.temp;
            //            const descripcion = data.weather[0].description;

            //            // Mostrar el resultado en la página
            //            const resultadoClima = document.getElementById('resultado-clima');
            //            resultadoClima.innerHTML = `Temperatura: ${temperatura}°C<br>Descripción: ${descripcion}`;
            //        })
            //        .catch(error => {
            //            console.error('Error al obtener los datos del clima', error);
            //            alert('Error al obtener los datos del clima. Por favor, inténtalo de nuevo más tarde.');
            //        });
            //}

    </script>
</body>

</html>

